body{
  background-color:#15141f;
  color: white;
  width:100%;
  & h1{
    text-align: center;
      }

}

.loader-container{
  display:flex;
  justify-content: center;
  align-items:center;
    padding:4rem;

}
.loader {
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  border-top: 16px solid #ff8f71;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}