.card-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3em;
    column-rule: 1px solid rgb(75, 70, 74);
    // column-width: 5em;
    
    & .card-content h1 {
        position: absolute;
        color:black;
        font-size: 1em; 
        background-color: rgba(221, 221, 221, 0.767);
        max-width:10em;
        margin: 1em;
    }            
}