.details-container {
  margin:1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: justify;
  & img {
    display: flex;
    width: auto;
    max-width: 100%;
    align-items: center;
    border-radius: 2rem; 
  }
  & .details-content {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    
  } 
  & h2 { 
    text-transform: uppercase; 
    color: white;
    margin-bottom: -10px;
    font-size: 1em;
    letter-spacing: 0.3em;
    justify-content: baseline;
  } 
  & p { 
    font-size: 1.1em;
    color: grey;
  }   
}


.video-container{  
  width:80%; 
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


.details-play-button {
    display: flex;

      color: red;
      display: inline;
      background-color: yellow;
}
