.details-container {
  margin:1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: justify;
  padding-bottom: 1em;
  
  & img {
    display: flex;
    width: auto;
    width: 80%;

    max-width: 80%;
    align-items: center;
    border-radius: 2rem; 
  }
  & .details-head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
  & .details-content {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;

  } 
  & h2 { 
    text-transform: uppercase; 
    color: white;
    margin-bottom: -10px;
    font-size: 1em;
    letter-spacing: 0.3em;
    justify-content: baseline;
  } 
  & p { 
    font-size: 1.1em;
    color: grey;
  }   
}

.video-container{  
  width:50%; 
  & .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }

 & .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
.details-body{
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
}
.details-play-button {
      display: flex;
      color: red;
      display: inline;
      background-color: yellow;
}

@media only screen and (min-width: 500px) {

.video-container{  
  width:40%; 
}
  .details-container {
    width: 80%;
    img {
      width: 50%;
    }
    &.details-content {
      justify-content: center;
    }
  } 
}
