.movies-container {
    display: flex;
    flex-direction: column;
    & .title {
        // display: flex;
        // background-color: yellow;
        // flex-direction: column;
    }
   
    & a {
        flex-direction: column;
        // padding: 1rem;
    }

    & .box {
        flex-direction: row;
        flex-wrap: wrap;
        display:flex;
        // width:90%;
        justify-content: space-between;
    }
}