@media only screen and (min-width: 600px) {
  body img {
    max-width: 50%;
  }
  body h2 {
    font-size: 24em;
  }
}
body {
  background-color: #15141f;
  color: white;
  width: 100%;
}
body li, body a, body a :visited {
  color: #ff8f71;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #15141f;
  width: 100%;
  height: 4em;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
}

.lists-cards-container {
  display: flex;
  flex-direction: column;
  background-color: yellow;
}

.lists-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3em;
  -moz-column-rule: 1px solid #4b464a;
       column-rule: 1px solid #4b464a;
}
.card-container .card-content h1 {
  position: absolute;
  color: black;
  font-size: 1em;
  background-color: rgba(221, 221, 221, 0.767);
  max-width: 10em;
  margin: 1em;
}

.details-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: justify;
}
.details-container img {
  display: flex;
  width: auto;
  max-width: 100%;
  align-items: center;
  border-radius: 2rem;
}
.details-container .details-content {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}
.details-container h2 {
  text-transform: uppercase;
  color: white;
  margin-bottom: -10px;
  font-size: 1em;
  letter-spacing: 0.3em;
  justify-content: baseline;
}
.details-container p {
  font-size: 1.1em;
  color: grey;
}

.video-container {
  width: 80%;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.details-play-button {
  display: flex;
  color: red;
  display: inline;
  background-color: yellow;
}

.app-header {
  display: flex;
  flex-direction: row;
}
.app-header img {
  width: 5rem;
}

.app-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 1rem;
  bottom: 0;
}
.app-footer img {
  margin-bottom: -5px;
  width: 3rem;
}
.app-footer p {
  display: flex;
  font-size: 0.8rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}