body {
  background-color: #15141f;
  color: white;
  width: 100%;
}
body h1 {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #15141f;
  width: 100%;
  height: 4em;
  padding-bottom: 2em;
  margin-top: 10em;
  position: fixed;
  bottom: 0;
  z-index: 0;
}
nav li, nav a, nav a :visited {
  color: #ff8f71;
  text-decoration: none;
}
nav a {
  align-items: center;
  justify-content: space-around;
  width: 2.3em;
  height: 2.5em;
}

.lists-cards-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
  padding-bottom: 10rem;
}

.lists-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
}

.lists-but-pag-container {
  display: flex;
  align-content: space-around;
  justify-content: center;
  flex-direction: row;
  font-size: 0.8em;
  padding-bottom: 7rem;
}

.lists-cat {
  padding: auto;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.lists-but {
  display: flex;
  color: #ff8f71;
  border: none;
  text-transform: uppercase;
  background-color: #15141f;
}
.lists-but:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

form {
  display: flex;
  justify-content: center;
  padding-bottom: 0.8em;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  -moz-column-rule: 1px solid #4b464a;
       column-rule: 1px solid #4b464a;
}
.card-container .card-content {
  display: flex;
}
.card-container .card-content img {
  display: flex;
  border-radius: 20px;
  margin: 0.2em;
  max-width: 100%;
  flex: auto;
}
.card-container .card-content h1 {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  width: 12em;
  margin: 0.5em;
  margin-top: 4em;
  color: black;
  background-color: rgba(221, 221, 221, 0.767);
}
.card-container .card-content .cards-vote-average {
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.card-container .card-content i {
  display: flex;
  font-weight: bold;
  position: absolute;
}
.card-container .card-content p {
  font-weight: bold;
  background-color: black;
  color: white;
  margin-top: 30px;
  margin-left: 15px;
  padding-left: 10px;
}

@media only screen and (min-width: 500px) {
  .card-content h1 {
    font-size: 1em;
    width: 3em;
  }
}
@media only screen and (max-width: 500px) {
  .card-content {
    width: 45%;
  }
  .card-content h1 {
    font-size: 0.7em;
    width: 3em;
  }
}
.details-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: justify;
  padding-bottom: 1em;
}
.details-container img {
  display: flex;
  width: auto;
  width: 80%;
  max-width: 80%;
  align-items: center;
  border-radius: 2rem;
}
.details-container .details-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}
.details-container .details-content {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}
.details-container h2 {
  text-transform: uppercase;
  color: white;
  margin-bottom: -10px;
  font-size: 1em;
  letter-spacing: 0.3em;
  justify-content: baseline;
}
.details-container p {
  font-size: 1.1em;
  color: grey;
}

.video-container {
  width: 50%;
}
.video-container .video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-container .video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.details-body {
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
}

.details-play-button {
  display: flex;
  color: red;
  display: inline;
  background-color: yellow;
}

@media only screen and (min-width: 500px) {
  .video-container {
    width: 40%;
  }

  .details-container {
    width: 80%;
  }
  .details-container img {
    width: 50%;
  }
  .details-container.details-content {
    justify-content: center;
  }
}
.app-header {
  display: flex;
  flex-direction: row;
}
.app-header img {
  width: 5rem;
}

.app-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  position: fixed;
  bottom: 0;
}
.app-footer img {
  margin-bottom: -5px;
  width: 3rem;
}
.app-footer p {
  display: flex;
  font-size: 0.8rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}